
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#food-container {
  display: flex;
  align-items: center;
}

#food-box {
  display: flex;
  width: 60%;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  margin: 10px 20px;
  padding: 10px;
  background-color: #e3e9e2;
}

#food-box input,button {
  padding: 10px;
}

#food-box img {
  height: 80px;
  width: 80px;
}

#add-box input{
  border: 2px solid #530878;
}

#add-box button {
  color: white;
  margin: 5px;
  background-color: #530878;
}

#search {
  padding: 20px;
}

#search h1 {
  padding: 10px 0px;
}

#search input {
  padding: 10px;
  border-radius: 10px;
}

#calories {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
}

#calories button {
  background-color: #717271;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}